.button {
    display: inline-block;
    font-weight: var(--button-font-weight);
    cursor: pointer;
    transition: background-color 0.6s;
}

.button:hover,
.button:focus,
.button:active {
    background-color: var(--button-hover-color);
}

.primaryButton {
    padding: .55rem 1.4rem;
    border-radius: 1.4rem;
    color: var(--invert-text-color);
    background-color: var(--button-color);
    border: 1px solid var(--button-border-color);
    transition: background-color 0.6s;
}

.primaryButton:hover,
.primaryButton:focus,
.primaryButton:active {
    background-color: var(--button-hover-color);
}

.secondaryButton {
    padding: .55rem 1.4rem;
    border-radius: 1.4rem;
    color: var(--input-text-color);
    border: 1px solid var(--button-border-color);
    transition: background-color 0.6s;
}

.secondaryButton:hover,
.secondaryButton:focus,
.secondaryButton:active {
    background-color: var(--button-hover-color);
    color: var(--invert-text-color);
}

.deleteButton {
    padding: .1rem .45rem .2rem;
    border-radius: 50%;
    margin: 0 .5rem .5rem 0;
    color: var(--main-title-color);
    border: 1px solid var(--main-title-color);
    transition: background-color 0.6s;
}

.deleteButton:hover,
/* .deleteButton:focus, */
.deleteButton:active {
    background-color: var(--danger-color);
    color: var(--invert-text-color);
}

