.content {
    display: block;
    margin: auto;
    padding: 2rem;
}

.content::-webkit-scrollbar{
    display: none;
  }

.labelText {
    display: block;
    font-size: 1rem;
    font-weight: bold;
    color: var(--label-text-color);
    margin: 2rem 0 1rem;
}

.labelSubText {
    font-size: .9rem;
    color: var(--label-text-color);
    margin-bottom: 1rem;
}

.formInput {
    display: block;
    margin: 0 0 .2rem;
    padding: .5rem .3rem;
    width: 100%;
    background-color: var(--input-bg-color);
    border-color: var(--input-border-color);
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    color: var(--input-text-color);
    font-size: 1rem;
    font-weight: 600;
}

.formInputInvalid {
    border-color: rgb(248, 60, 60);
}

.feedbackInvalid {
    color: rgb(248, 60, 60);
    font-size: .9rem;
    margin-bottom: 1rem;
}

.feedbackValid {
    visibility: hidden;
}

.fileInputField {
    /* height: 120px; */
    border-style: dashed;
    color: transparent;
    border: none;
    background-color: transparent;
    padding: 0;
}

.fileInputField::-webkit-file-upload-button,
.input[type="file"]::file-selector-button {
    background-color: transparent;
    margin: .5rem 0 1rem;
    padding: .55rem 1.4rem;
    font-family: var(--main-font-family);
    font-size: var(--body-font-size);
    font-weight: 700;
    color: var(--input-text-color);
    border: 1px solid var(--button-color);
    border-radius: 1.4rem;
}

.fileInputField::-webkit-file-upload-button:hover,
.input[type="file"]::file-selector-button:hover {
    background-color: var(--button-color);
    color: var(--invert-text-color);
}

.fileInputInvalid::-webkit-file-upload-button,
.input[type="file"]::file-selector-button {
    border-color: var(--danger-color);
}

.fileListItem {
    color: var(--primary-color);
    font-weight: 700;
}

.footer {
    display: flex;
    justify-content: flex-start;
    padding-top: 1rem;
}

.messageContent {
    display: block;
    margin: auto;
    padding: .2rem 2rem 2rem 2rem;
    background-color: var(--main-bg-color);
    border-radius: .5rem;
}
