.content {
    display: block;
    margin: auto;
    padding: 3rem 1rem 5rem 1rem;
    background-color: var(--main-bg-color);
    margin: 1rem;
    border: 1px solid var(--input-bg-color);
    border-radius: .2rem;;
}

.content::-webkit-scrollbar{
    display: none;
  }

.labelText {
    display: block;
    font-size: 1rem;
    font-weight: bold;
    color: var(--label-text-color);
    margin: 2rem 0 1rem;
}

.labelSubText {
    font-size: .9rem;
    color: var(--label-text-color);
    margin-bottom: 1rem;
}

.formInput {
    display: block;
    margin: 0 0 .2rem;
    padding: .5rem .3rem;
    width: 100%;
    background-color: var(--input-bg-color);
    border-color: var(--input-border-color);
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    color: var(--input-text-color);
    font-size: 1rem;
    font-weight: 600;
}

.formInputInvalid {
    border-color: rgb(248, 60, 60);
}

.feedbackInvalid {
    color: rgb(248, 60, 60);
    font-size: .9rem;
    margin-top: .5rem;
    margin-bottom: 1rem;
}

.feedbackValid {
    visibility: hidden;
}

.fileInputField {
    max-width: 150px;
}

/* Hiding the custom file upload button because the OS-controlled small picture's behaviour
is inconsistent with the React-controlled component. */
.fileInputField::-webkit-file-upload-button,
.input[type="file"]::file-selector-button {
    display: none;
}

.uploadButtonFrame {
    margin: .5rem 0 1rem;
}

.customFileUploadButton {
    position: relative;
    display: inline;
    background-color: var(--main-bg-color);
    margin: .5rem 0 1rem;
    padding: .55rem 1.4rem;
    font-family: var(--main-font-family);
    font-size: var(--body-font-size);
    font-weight: 700;
    color: var(--input-text-color);
    border: 1px solid transparent;
    border-radius: 1.4rem;
    transition: background-color 0.6s;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
}

.customFileUploadButton:before {
    content: "";
    position: absolute;
    top: -2px; right: -2px; bottom: -2px; left: -2px; /* 1px more than border width */
    background: var(--button-color);
    border-radius: inherit; /* match border radius */
    z-index: -1;
}

.customFileUploadButton:hover {
    background-color: var(--button-color);
    color: var(--invert-text-color);
}

.fileInputInvalid {
    border-color: var(--danger-color);
}

.fileListItem {
    color: var(--primary-color);
    font-weight: 700;
}

.footer {
    display: flex;
    justify-content: flex-start;
    padding-top: 1rem;
}

.messageContent {
    display: block;
    margin: auto;
    padding: .2rem 2rem 2rem 2rem;
    background-color: var(--main-bg-color);
    border-radius: .5rem;
    border: 1px solid var(--input-bg-color);
}

.linkText {
    cursor: pointer;
    text-decoration: underline;
}

.churchLogo {
    height: 60px;
    width: auto;
    display: block;
}
