/* Google Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Quicksand:wght@400;700&display=swap');


/* --------------- RESET ------------- */

html, 
body, 
header, 
footer, 
section, 
article, 
h1, 
h2, 
h3, 
p, 
a, 
button, 
ul, 
address, 
svg,
input,
textarea {
    margin: 0;
    border: 0;
    padding: 0;
    font: inherit;
    color: inherit;
    background: transparent;
    text-decoration: none;
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

li {
    list-style: none;
}

/* --------------- DEFAULTS ------------- */

html {
    font: -apple-system-body;
}

:root {

    --logo-color: #a3826c;
    --main-title-color: #534942;
    --main-text-color: #3c3733;
    --line-color: rgb(204, 204, 204);
    --label-text-color: #3c3733;
    --main-bg-color: rgb(255, 255, 255);
    --input-border-color: #e1e1e1;
    --input-bg-color: #f3f3f3;
    --input-text-color: #767676;
    --primary-color: #009300;
    /* --button-color: #008100; */
    --button-color: linear-gradient(150deg, #006d81, #57d9ad);
    --button-border-color: #008100;
    --button-hover-color: #006800;
    --invert-text-color: white;
    --danger-color: rgb(200, 0, 0);
    --modal-bg-color: rgba(10, 10, 10, 0.8);

    --main-font-family: "Quicksand";
    --main-title-font-family: "Josefin Sans";
    --body-font-weight: 400;
    --strong-font-weight: 700;
    --button-font-weight: 600;

    --body-font-size: 1rem;
    --main-title-font-size: 1.3rem;
    --subtitle-font-size: 1.1rem;
}


@media (prefers-color-scheme: dark) {
    :root {
        --main-title-color: rgb(255, 255, 255);
        --main-bg-color: #232426;
        --main-text-color: rgb(255, 255, 255);
        --label-text-color: white;
        --input-bg-color: rgb(70, 70, 70);;
        --input-text-color: white;
        --modal-bg-color: rgba(30,30,30, 0.8);
    }
}

body {
    color: var(--main-text-color);
    font-family: var(--main-font-family);
    font-size: var(--body-font-size);
    font-weight: var(--body-font-weight);
    background-color: var(--main-bg-color);

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

header {
    height: 80px;
    display: flex;
    justify-content: flex-start;
    padding: 1rem 2rem 0 30px;
}


h1 {
    font-family: var(--main-title-font-family);
    font-size: var(--main-title-font-size);
    color: var(--main-title-color);
    text-transform: uppercase;
    padding: 1.5rem 0;
}

h2 {
    font-family: var(--main-title-font-family);
    font-size: var(--subtitle-font-size);
    font-weight: var(--main-title-font-weight);
    color: var(--main-title-color);
    text-transform: uppercase;
    padding-bottom: .5rem;
    margin: 2.5rem 0 2rem;
    border-bottom: 1px solid var(--line-color);
}

fieldset {
    border-width: 1px;
    border: none;
    padding: 0;
}

input[type="text"] {
    --webkit-appearance: none;
    outline: none;
    font-family: Helvetica, Arial, sans-serif;
}

input[type="file"] {
    color: transparent;
}

input:-internal-autofill-selected {
    color: var(--input-text-color) !important;
}

