/* Google Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Quicksand:wght@400;700&display=swap');


/* --------------- RESET ------------- */

html, 
body, 
header, 
footer, 
section, 
article, 
h1, 
h2, 
h3, 
p, 
a, 
button, 
ul, 
address, 
svg,
input,
textarea {
    margin: 0;
    border: 0;
    padding: 0;
    font: inherit;
    color: inherit;
    background: transparent;
    text-decoration: none;
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

li {
    list-style: none;
}

/* --------------- DEFAULTS ------------- */

:root {

    --main-title-color: #705f53;
    --main-text-color: #534942;
    --line-color: rgb(204, 204, 204);
    --label-text-color: #705f53;
    --main-bg-color: rgb(255, 255, 255);
    --input-border-color: #e1e1e1;
    --input-bg-color: #fcfcfc;
    --input-text-color: #919191;
    --primary-color: #008100;
    --button-color: #008100;
    --button-border-color: #008100;
    --button-hover-color: #006800;
    --invert-text-color: white;

    --main-font-family: "Quicksand";
    --main-title-font-family: "Josefin Sans";
    --body-font-weight: 400;
    --strong-font-weight: 700;
    --button-font-weight: 600;

    --body-font-size: 1rem;
    --main-title-font-size: 1.3rem;
    --subtitle-font-size: 1.1rem;
}


@media (prefers-color-scheme: dark) {
    :root {
        --main-title-color: rgb(255, 255, 255);
        --main-bg-color: rgb(35, 36, 38);
        --main-text-color: rgb(255, 255, 255);
        --label-text-color: white;
        --input-bg-color: rgb(70, 70, 70);;
        --input-text-color: white;
    }
}

body {
    color: var(--main-text-color);
    font-family: var(--main-font-family);
    font-size: var(--body-font-size);
    font-weight: var(--body-font-weight);
    background-color: var(--main-bg-color);

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

header {
    height: 80px;
    display: flex;
    justify-content: flex-start;
    padding: 1rem 2rem 0 30px;
}


h1 {
    font-family: var(--main-title-font-family);
    font-size: var(--main-title-font-size);
    color: var(--main-title-color);
    text-transform: uppercase;
    padding: 1rem 0;
}

h2 {
    font-family: var(--main-title-font-family);
    font-size: var(--subtitle-font-size);
    font-weight: var(--main-title-font-weight);
    color: var(--main-title-color);
    text-transform: uppercase;
    padding-bottom: .5rem;
    margin: 1rem 0 2rem;
    
    border-bottom: 1px solid var(--line-color);
    /* text-align: left; */
}

fieldset {
    border-width: 1px;
    border: none;
    padding: 0;
}

input[type="text"] {
    --webkit-appearance: none;
    outline: none;
    font-family: Helvetica, Arial, sans-serif;
}

input[type="file"] {
    padding: 8px 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}